.main-vid {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  justify-content: center;
  margin: 0 5px 0 5px;
}
.details {
  display: absolute;
}
.text-datails {
  width: auto;
  max-width: 600px;
  min-height: 100%;
}
